@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeInFromBottom {
  from {
      opacity: 0;
      transform: translateY(15px); /* Start slightly below */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Final position */
  }
}

.fade-in {
  opacity: 0; /* Start invisible */
  animation: fadeInFromBottom 0.8s ease-out forwards; /* Trigger animation */
}

.container {
  display: flex; /* Enables flexbox for the container */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  width: 100%;
  gap: 2rem; /* Adds spacing between the left and right sections */
  padding-top: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-family: "Rethink Sans",serif;
  margin-right: 3rem;
  margin-top: 3rem;
  margin: 0 auto; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  padding-top: 10%;
  font-family: "Roboto",serif ;
}


.left-section {
  flex: 3; 
  padding-left: 12rem;
  padding-right: 10rem;
}

.right-section {
  flex: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

#team-image {
  width: 419px;
  height: 100%;
  padding-top: 20%;
  padding-right: 20%;
}

#main-header {
  font-size: 70px;
}

a:link, a:visited {
  color: #C02121;
}

#lighten-font {
  font-weight: lighter;
}

@media (max-device-width: 1000px) {
    .container{
      display: block;
    }
    .App-header{
      font-size: 20px;
    }
    .left-section{
      padding-left: 2rem;
      padding-right: 2rem;
    }
    #main-header {
      padding-top: 5%;
      font-size: 50px;
    }
    .right-section {
      width: 100%;
    }
    #team-image {
      width: 300px;
      height: 100%;
      padding-top: 20%;
      padding-right: 20%;
    }
    
} 