@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadeInFromBottom {
  from {
      opacity: 0;
      transform: translateY(15px); /* Start slightly below */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Final position */
  }
}

.fade-in {
  opacity: 0; /* Start invisible */
  animation: fadeInFromBottom 0.8s ease-out forwards; /* Trigger animation */
}

.container {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: rgb(0, 0, 0);
  font-family: "Rethink Sans",serif;
  margin-right: 3rem;
  margin-top: 3rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  padding-top: 10%;
  font-family: "Roboto",serif ;
}

.page-container{
  width: 100%;
  padding-right: 0;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 40%;  
  margin-right: 3rem;
}

#team-image {
  width: 419px;
  height: 100%;
  padding-top: 20%;
  padding-right: 20%;
}

#main-header {
  font-size: 70px;
}

a:link, a:visited {
  color: #C02121;
}

#lighten-font {
  font-weight: lighter;
}

@media (max-device-width: 700px) {
    .container{
      display: block;
    }
    .App-header{
      font-size: 40px;
    }
    .right-section{
      padding-top: 15%;
      padding-left: 30%;
    }
    #main-header {
      padding-top: 5%;
      font-size: 100px;
    }
} 
/* commented this out because it was causing issues for NavBar */
/* create an explicit class for the button so that only the intended button is affected */
/* button {
  font-size: 115%;
  background-color: #fffffff6;
  border-style: none;
  padding-top: 10%;
} */