---
import React from 'react';
import App from '../components/App.jsx';  // Import your React component
---

<html>
  <head>
    <title>My Astro App</title>
    <link rel="stylesheet" href="../components/App.css" />  <!-- Link to your CSS -->
  </head>
  <body>
        <App client:load />  <!-- Use the React component in the Astro page -->
  </body>
</html>