---
import React from 'react';
import App from '../components/App.jsx'; 
---

<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="UTF-8"/>
    <title>LeBlanc Lab</title>
    <link rel="stylesheet" href="../components/App.css" /> 
  </head>
  <body>
        <App client:load />  
  </body>
</html>