---
import React from 'react';
import App from '../components/App.jsx'; 
---

<html>
  <head>
    <title>LeBlanc Lab</title>
    <link rel="stylesheet" href="../components/App.css" /> 
  </head>
  <body>
        <App client:load />  
  </body>
</html>