---
import React from 'react';
import publications from '../components/publications.js';  // Import your React component
---

<html>
 <head>
   <title>Publications</title>
   <link rel="stylesheet" href="../styles/global.css" />  <!-- Link to your global CSS -->
 </head>
 <body>
   <publications />  <!-- Use the React component in the Astro page -->
 </body>
</html>
