---
import Publication from '../components/Publication.jsx';
import NavBar from '../components/NavBar.jsx';
import BibTexParser from '../components/BibTexParser.jsx';

const publications = [
];
---

<html>

<NavBar/>

<head>
    <title>Publications</title>
</head>
<body>
<div>
<BibTexParser client:load />
    {publications.map(pub => (
            <Publication
                    title={pub.title}
                    authors={pub.authors}
                    arxivLink={pub.arxivLink}
                    image={pub.image}
            />
    ))}
</div>
</body>
</html>
