---
import Publication from '../components/Publication.jsx';
import NavBar from '../components/NavBar.jsx';
import fs from 'fs';
import bibtexParse from 'bibtex-parse-js';

const bibtexData = fs.readFileSync('./public/publications.bib', 'utf8');
const parsedData = bibtexParse.toJSON(bibtexData);
---

<html>
  <head>
    <title>Publications</title>
  </head>
  <body>
    <NavBar currentPage = "publications"/>
    <div>
      <h1>Research Publications</h1>
      {parsedData.map((article, index) => (
        <Publication
          key={index}
          title={article.entryTags.title}
          authors={article.entryTags.author}
          arxivLink={article.entryTags.url || '#'}
          image={article.entryTags.preview}
        />
      ))}
    </div>
  </body>
</html>
