---
import Publications from '../components/Publication.jsx';
import NavBar from '../components/NavBar.jsx';
import fs from 'fs';
import bibtexParse from 'bibtex-parse-js';

const bibtexData = fs.readFileSync('./public/publications.bib', 'utf8');
const parsedData = bibtexParse.toJSON(bibtexData);
---

<html>
  <head>
    <title>Publications</title>
  </head>
  <body>
    <NavBar client:load currentPage = "publications"/>
    <div>
      <Publications publications={parsedData} />
    </div>
  </body>
</html>
