---
import NavBar from '../components/NavBar.jsx';
import Team from '../components/TeamMember.jsx';
import '../styles/team.css';
import teamMemberData from '../../public/teamMembers.json' assert { type: 'json' };
---
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0", charset="UTF-8"/>
    <title>Our Team</title>
</head>
<body>
    <NavBar client:load currentPage = "team"/>
    <Team memberData={teamMemberData}/>
</body>
</html>
